.footer {
    background: #2D343C;
    padding: 60px 0;
}

.footer ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.footer ul li {
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 0.05rem;
    font-weight: 500;
}
.footer ul li:hover {
    color: #D4C17F;
    transition: all .9s ease-out;
}
.footer ul li:last-child {
    margin-bottom: 0;
}
.footer ul li a {
    text-decoration: none;
    color: #fff;
}
.footer ul li a:hover {
    color: #D4C17F;
    transition: all .9s ease-out;
}

.footer__social {
    margin-top: 20px;
}
.footer__social li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0 !important;
}
.footer__social li:last-child {
    margin-right: 0;
}
.fa-brands {
    font-size: 28px;
}
.fa-brands:hover {
    color: #D4C17F;
    transition: all .9s ease-out;
}


@media (max-width: 992px){
    .footer {
        text-align: center;
    }
    .footer__menu {
        margin-bottom: 15px !important;
    }
    .footer__menu:last-child {
        margin-bottom: 30px;
    }
    .footer .brand img{
        margin-bottom: 40px;
    }
}