.navbar {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    padding: 30px 0;
}
.navbar .brand {
    position: relative;
    z-index: 10;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__menu {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar__menu li {
    display: inline-block;
}
.navbar__menu-link {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 16px;
    letter-spacing: 0.05rem;
    padding: 30px;
    transition: all .9s ease-out;
    font-weight: 600;
}

.navbar__toggler {
    display: none;
    position: relative;
    width: 31px;
    height: 24px;
    background: transparent;
    border: none;
    right: 20px;
}
.navbar__toggler i {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    right: 0;
}
.navbar__toggler i:nth-child(1) {
    top: 0;
}
.navbar__toggler i:nth-child(2) {
    width: 75%;
    top: 50%;
    transform: translateY(-50%);
}
.navbar__toggler i:nth-child(3) {
    bottom: 0;
    right: -1px;
}


@media (max-width: 992px){
    .navbar__menu {
        display: none;
    }
    .navbar__toggler {
        display: block;
    }
}
@media (max-width: 576px) {
    .navbar__toggler {
        right: 20px !important;
        position: absolute;
    }
   
}